{{- if (and (hasKey .Values.secret "enabled") (.Values.secret.enabled)) }}
apiVersion: v1
kind: Secret
metadata:
  annotations:
{{ include "cosi-driver-nutanix.resource.annotations" . | indent 4 }}
  labels:
{{ include "cosi-driver-nutanix.resource.labels" . | indent 4 }}
  name: objectstorage-provisioner
  namespace: {{ .Release.Namespace }}
stringData:
  ACCESS_KEY: {{ required "access_key is required." .Values.secret.access_key | quote }}
  ACCOUNT_NAME: {{ .Values.secret.account_name | quote }}
  ENDPOINT: {{ required "endpoint is required." .Values.secret.endpoint | quote }}
  PC_ENDPOINT: "{{ required "pc_endpoint is required." .Values.secret.pc_endpoint }}"
  PC_SECRET: "{{ required "pc_username is required." .Values.secret.pc_username }}:{{ required "pc_password is required." .Values.secret.pc_password }}"
  SECRET_KEY: {{ required "secret_key is required." .Values.secret.secret_key | quote }}
  S3_INSECURE: {{ .Values.tls.s3.insecure | default "false" | quote }}
  PC_INSECURE: {{ .Values.tls.pc.insecure | default "false" | quote }}
  {{- if and (not .Values.tls.caSecretName ) (eq .Values.tls.s3.insecure false) }}
  S3_CA_CERT: {{ required "CA Certificate required if insecure set to false" .Values.tls.s3.rootCAs }}
  {{- end }}
  {{- if and (not .Values.tls.caSecretName ) (eq .Values.tls.pc.insecure false) }}
  PC_CA_CERT: {{ required "CA Certificate required if insecure set to false" .Values.tls.pc.rootCAs }}
  {{- end }}
type: Opaque
{{- end }}
